//
//  Debug.xcconfig
//  AutoLayout
//
//  Created by ek1008 on 2019/4/15.
//  Copyright © 2019 ek1008. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
IS_APP_NAME = Debug
IS_APP_BUNDLE_ID = com.lance.AutoLayoutDebug
